/*Gabriel Sanchez
  Date: 10/28/2019
  Code help: https://www.w3schools.com/
*/
/*
Fonts
font-family: 'Yanone Kaffeesatz', sans-serif;
*/


html{
    background-color: none;
}
#carouselExampleFade {
    padding-top: 100px;
    padding-bottom: 100px;
    margin-top: 100px;
    background-color: lightslategray;
    align-items: center;
    display: block;
    margin-left: auto;
    margin-right: auto; 
    
}
.carousel-item{
    padding-left: 24%;   
}
.d-block{
    width: auto;
}
.carosel-control-prev {
    color: black;
    background-color: black;
}


/***MP4 video Class */
.wrapper{
    background-color: white;
    width: auto;
    height: auto;
}

.card {
    background-color: white;
    margin-top: 50px;
    padding-top: 50px;
    width: 70%;
    height: 700px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    
}
.card-body {
    background-color: white;
    width: 50%;
    height: 500px;
    margin: 10px 10px 10px 10px;  
    display: inline-block;
    position: relative;
    
}
.right-colum {
    background-color: white;
    width: 35%;
    height: auto;
    margin: 140px 150px 10px 10px;
    display: block;
    position: relative;
    float: right;
}
#content {
    text-align: center;
    margin: 10px 10px 10px 10px;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1cm;
}

.video { /**** This on worked to centered the vedeo in the middle **/
    margin: 0 auto;
    width: 1000px;
    display: block;
    
}

/*header*/
.nav {
    width:auto;
    margin:0 auto;
    list-style:none;
    background-color: black;   
}
.nav-link{
    font-size: 30px;
    width: 120px;
    text-align: center;
    margin: 15px 15px 15px 15px;
    display: block;
    color: white;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}
.nav-item{
    display:block;
    text-align:center;
    width: 150px; /* fixed width */
    text-decoration: none; 
}



/*==========================================
==========Modal in REST============================*/
/* The Modal (background) */
.modal01, .modal02 {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: ghostwhite;
  margin: 5% auto; /* 15% from the top and centered */
  padding: 10px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close01, .close02, .close03, .close04 {
  color: rgb(235, 11, 11);
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close01:hover, 
.close01:focus {
  color: white;
  text-decoration: none;
  cursor: pointer;
}
.close02:hover, 
.close02:focus {
  color: white;
  text-decoration: none;
  cursor: pointer;
}
.close03:hover, 
.close03:focus {
  color: white;
  text-decoration: none;
  cursor: pointer;
}
.close04:hover, 
.close04:focus {
  color: white;
  text-decoration: none;
  cursor: pointer;
}


/* Boostrap layout */
.container-fluid {
    background-color: none;
    width: 70%;
    margin-top: 100px;
}
#myBtn {
    margin: 10px 10px 10px 10px;
}



/*Footer*/

.page-footer {
    background-color: black;
    margin-top: 50px;
}

.footer-copyright {
    color: white;
}
