/* font family
    font-family: 'Monoton', cursive;
    font-family: 'Lobster', cursive; --- UGLY
    font-family: 'Anton', sans-serif;
*/

html {
    background: white;
    /* blue and green
    background-image: linear-gradient(to right top, #2f73d8, #00a1f7, #00c4d7, #00de86, #a8eb12);
    */
}
#wrapper_1 {
    width: auto;
    height: 1000px;
    position: relative;
}

/* Vertical Text */
.vertical_text {
    background-color: none;
    height: auto;
    width: 50px;
    margin-top:50px;
    margin-right:20px;
    margin-left: 20px;
    position: absolute;
}

/* Vertical line */
.vl {
    border-left: 6px solid lightseagreen;
    height: 800px;
    width: .1px;
    position: absolute;
    background-color: white;
  }

#vertical_text {
    color: black;
    writing-mode: vertical-lr;
    text-orientation: mixed;
    text-align: center;
    margin-right: 50px;
    position: relative;
}
/*Key frames for the vertical text (porfolio) */
#vertical_text {
    background-repeat: no-repeat;
    background-position: left top;
    padding-top:95px;
    margin-bottom:60px;
    -webkit-animation-duration: 10s;
    animation-duration: 10s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: bounceInUP;
    animation-name: bounceInUP;
 }
 @-webkit-keyframes bounceInUP {
    0% {
       opacity: 0;
       -webkit-transform: translateX(200px);
    }
    60% {
       opacity: 1;
       -webkit-transform: translateY(+30px);
    }
    80% {
       -webkit-transform: translateY(10px);
    }
    100% {
       -webkit-transform: translateY(0);
    }
 }
@keyframes bounceInUP {
    0%{
        opacity: 0;
        transform: translateY(2000px);
        }
    60%{
        opacity: 1;
        transform: translateY(-30px);
        }
    80%{
        transform: translateY(10px);
        }
    100%{
        transform: translateY(0px);
        }
}

/*Name Div*/
.gabrielName {
    background-color: none; /* to be changed */
    width: 500px;
    height: 400px;
    background-color: none;
    margin-left: 600px;
    margin-top: 20px;
}

#gabrielName {
    color: black;
    text-align: center; 
    font-family: 'Lobster', cursive;
    font-size: 100px;
    padding-top: 100px; 
    writing-mode: none; /* (vertical-lr)This code will place the text in vertical order */
    text-orientation: mixed; /* This code will place the text in vertical order */
   
}

/* Image *****/
.gabo_Photo {
    background-color: none;
    width:none;
    position: absolute;
    margin-left: 90px;
    margin-top: -500px;

}
/* This is the Paragraph description */

/*Div Class */
#wrapper {
    background-color: none; /* to be changed */
    width: 500px;
    height: 400px;
    background-color: none;
    margin-left: 100px;
    margin-top: 40px;
    overflow: hidden;
    margin-right:100px;
    padding-left: 100px;
    padding-left: 100px;
    margin-left: 550px;
    margin-top: -50px;
    margin-bottom: -500px;
    position: absolute;

}
.about_me {
    background-color: none;
    font-family: 'Anton', sans-serif;
    color: black;
    font-size: 30px;
    margin-top: 0;
    text-align: justify;
    margin-right: auto;
    margin-left: auto;
    z-index: auto;
    overflow: hidden;
    position: absolute;
    
}
/*key frames bounce in from right to left side*/
.gabrielName {
    background-repeat: no-repeat;
    background-position: left top;
    padding-top:95px;
    margin-bottom:60px;
    -webkit-animation-duration: 10s;
    animation-duration: 10s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: bounceInRight;
    animation-name: bounceInRight;
 }
 @-webkit-keyframes bounceInRight {
    0% {
       opacity: 0;
       -webkit-transform: translateX(2000px);
    }
    60% {
       opacity: 1;
       -webkit-transform: translateX(-30px);
    }
    80% {
       -webkit-transform: translateX(10px);
    }
    100% {
       -webkit-transform: translateX(0);
    }
 }
@keyframes bounceInRight {
    0%{
        opacity: 0;
        transform: translateX(100px);
        }
    60%{
        opacity: 1;
        transform: translateX(-30px);
        }
    80%{
        transform: translateX(10px);
        }
    100%{
        transform: translateX(0px);
        }
}

/*Wrapper 2 */

#wrapper_2 , #wrapper_3 , #wrapper_4 {
    background-color: none;
    width:auto;
    height: 1000px;
    position: static;
}
/* Project Icons*/
#Projects {
    background-color: lightcoral;
    width: auto;
    height: 100px;; 

}


/*h1*/
.BioSite {
    color: black;
    text-align: center;
    font-family: 'Anton', sans-serif;
    font-size: 50px;
    padding-top: 50px;
    position: relative;
   
}
.bioSite_image {
    align-content: center;
    display: block;
    padding-top: 20px;
    margin-left: auto;
    margin-right: auto;
    
}
.CaptionSlides , .CaptionSlides1 , .CaptionSlides2{

    margin-top: 50px;
    margin-left: 400px;
     
}
.button {
    background-color: none;
    width: 300px;
    margin-top: 20px; 
    margin-left: auto;
    margin-right: auto;

}
a:link, a:visited {
        background-color: lightsalmon;
        color: white;
        font-family:'Anton', sans-serif;
        padding: 15px 25px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        margin-top: 25px;
        align-content: center;
        margin-left: 30px;
        
      }
      
      a:hover, a:active {
        background-color:lightblue;
      }

/****** Wrapper 4 ***************/

#container {
    width: auto;
    height: auto;
    background-color: lightblue;
}
